.row {
    padding: 0 10%;
}

.form-group {
    margin: 50px 0 100px 0;
}

.form-group .form-control {
    margin-bottom: 5px;
}


.form-group table {
    margin: 30px 0;
}

.form-group .tabledata {
    width: 88px;
}

.form-group .btnDelete {
    margin-left: 8px;
}